$ghbutton-pill-radius: 1em !default;
$ghbutton-default-big-size: 14px !default;
$ghbutton-text-color: #333 !default;
$ghbutton-text-alt-color: #fff !default;
$ghbutton-background-color1: #f4f4f4 !default;
$ghbutton-background-color2: #ececec !default;
$ghbutton-highlight-color1: #3072b3 !default;
$ghbutton-highlight-color2: #599bdc !default;
$ghbutton-border-color: #d4d4d4 !default;

$ghbuttons-sprites: aperture, arrow_down, arrow_left, arrow_right, arrow_up, article, bars,
                    bars_alt, bolt, book, book_alt, book_alt2, box, brush, brush_alt, calendar,
                    calendar_alt_fill, calendar_alt_stroke, camera, cd, chart, chart_alt, chat,
                    chat_alt_fill, chat_alt_stroke, check, check_alt, clock, cog, comment_alt1_fill,
                    comment_alt1_stroke, comment_alt2_fill, comment_alt2_stroke, comment_fill,
                    comment_stroke, compass, cursor, curved_arrow, denied, dial, document_alt_fill,
                    document_alt_stroke, document_fill, document_stroke, download, eject, equalizer,
                    eye, first, folder_fill, folder_stroke, fork, fullscreen, fullscreen_alt,
                    fullscreen_exit, fullscreen_exit_alt, hash, headphones, heart_fill, heart_stroke,
                    home, image, info, key_stroke, last, layers, layers_alt, left_quote, link, list,
                    list_nested, lock_stroke, loop, magnifying_glass, mail, map_pin_fill,
                    map_pin_stroke, mic, minus, moon_fill, moon_stroke, move, move_alt1,
                    move_horizontal, move_horizontal_alt1, move_vertical, move_vertical_alt1,
                    new_window, pause, pen, pen_alt2, pilcrow, pin, play, plus, rain, read_more,
                    reload, right_quote, rss, rss_alt, share, spin, star, steering_wheel, stop,
                    sun_fill, sun_stroke, tag_fill, tag_stroke, target, transfer, trash_fill,
                    trash_stroke, umbrella, undo, unlock_stroke, upload, user, volume, volume_mute,
                    wrench, x;


