/* ------------------------------------------
ghbuttons-rails
(Original CSS by Nicolas Gallagher, Sassified by David Bock)
*/

.button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font: 11px / normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  /*background-clip: padding-box;*/
  /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  &:hover, &:focus, &:active, &.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3); }
  &:active, &.active {
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc); }
  &::-moz-focus-inner {
    padding: 0;
    border: 0; }
  &.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url(ghbuttons-sprite.png) 0 99px no-repeat; }

  $sprites: arrowup, arrowdown, arrowleft, arrowright, 
            approve, remove, log, calendar, chat,
            clock, settings, comment, fork,
            like, home, key, lock, unlock,
            loop, search, mail, move, edit, pin,
            add, reload, rss, tag, trash, favorite, user;
  $i: 0;

  @each $sprite in $sprites {
    &.#{$sprite}.icon {
	    &:before {
	      background-position: 0 $i*-12px;
	    }
	    &:hover:before, &:focus:before, &:active:before {
	      background-position: -12px $i*-12px;
	    }
	  }
	  $i: $i + 1;
  }

  &.arrowright.icon:before {
	  float: right;
	  margin: 0 -0.25em 0 0.5em;
	}
	



  &.primary {
    font-weight: bold; }
  &.danger {
    color: #900;
    &:hover, &:focus {
      border-color: #b53f3a;
      border-bottom-color: #a0302a;
      color: #fff;
      background-color: #dc5f59;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
      background-image: -moz-linear-gradient(#dc5f59, #b33630);
      background-image: -o-linear-gradient(#dc5f59, #b33630);
      background-image: linear-gradient(#dc5f59, #b33630); }
    &:active {
      border-color: #b53f3a;
      border-bottom-color: #a0302a;
      color: #fff;
      background-color: #dc5f59;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
      background-image: -moz-linear-gradient(#dc5f59, #b33630);
      background-image: -o-linear-gradient(#dc5f59, #b33630);
      background-image: linear-gradient(#dc5f59, #b33630);
      border-color: #a0302a;
      border-bottom-color: #bf4843;
      background-color: #b33630;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
      background-image: -moz-linear-gradient(#b33630, #dc5f59);
      background-image: -o-linear-gradient(#b33630, #dc5f59);
      background-image: linear-gradient(#b33630, #dc5f59); }
    &.active {
      border-color: #a0302a;
      border-bottom-color: #bf4843;
      background-color: #b33630;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
      background-image: -moz-linear-gradient(#b33630, #dc5f59);
      background-image: -o-linear-gradient(#b33630, #dc5f59);
      background-image: linear-gradient(#b33630, #dc5f59); } }
  &.positive {
    &:hover, &:focus {
      border-color: #45BF55;
      background-color: #96ED89;
      border-bottom-color: #45bf55;
      color: #fff;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96ed89), to(#45bf55));
      background-image: -moz-linear-gradient(#96ed89, #45bf55);
      background-image: -o-linear-gradient(#96ed89, #45bf55);
      background-image: linear-gradient(#96ed89, #45bf55); }
    &:active {
      border-color: #45BF55;
      background-color: #96ED89;
      border-bottom-color: #45bf55;
      color: #fff;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96ed89), to(#45bf55));
      background-image: -moz-linear-gradient(#96ed89, #45bf55);
      background-image: -o-linear-gradient(#96ed89, #45bf55);
      background-image: linear-gradient(#96ed89, #45bf55);
      border-color: #45bf55;
      border-bottom-color: #45bf55;
      background-color: #45bf55;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#45bf55), to(#96ed89));
      background-image: -moz-linear-gradient(#45bf55, #96ed89);
      background-image: -o-linear-gradient(#45bf55, #96ed89);
      background-image: linear-gradient(#45bf55, #96ed89); }
    &.active {
      border-color: #45bf55;
      border-bottom-color: #45bf55;
      background-color: #45bf55;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#45bf55), to(#96ed89));
      background-image: -moz-linear-gradient(#45bf55, #96ed89);
      background-image: -o-linear-gradient(#45bf55, #96ed89);
      background-image: linear-gradient(#45bf55, #96ed89); } }
  &.pill {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em; }
  &.disable {
    opacity: 0.5; }
  &.big {
    font-size: 14px;
    &.icon:before {
      top: 0; } } }

.button-group {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  /* IE hacks */
  zoom: 1;
  *display: inline; }

.button + {
  .button, .button-group {
    margin-left: 15px; } }

.button-group {
  + {
    .button, .button-group {
      margin-left: 15px; } }
  li {
    float: left;
    padding: 0;
    margin: 0; }
  .button {
    float: left;
    margin-left: -1px; }
  > .button:not(:first-child):not(:last-child), li:not(:first-child):not(:last-child) .button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  > .button:first-child, li:first-child .button {
    margin-left: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  > .button:last-child, li:last-child > .button {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  &.minor-group .button {
    border: 1px solid #d4d4d4;
    text-shadow: none;
    background-image: none;
    background-color: #fff;
    &:hover, &:focus {
      background-color: #599bdc; }
    &:active, &.active {
      background-color: #3072b3; }
    &.icon:before {
      opacity: 0.8; } } }


.button-container {
  .button, .button-group {
    vertical-align: top; } }
